﻿.injections-widget {
    border: 2px outset gray;
    margin: 0 0 0;
    padding: 0 0 0;
    position: relative;
    width: 20%;
    width: 100%;
}

.btnInject {
    height: 100%;
    margin: 0 0 0;
    position: relative;
    width: 100%;
}

.ddlDrugs {
    margin: 0 0 0;
    padding: 0 0 0;
    position: relative;
    width: 80%;
}

.lblInjectionsCount {
    margin: 0 0 0;
    padding: 0 0 0;
    position: relative;
    width: 20%;
}

hr {
    margin: 0 0 0;
    padding: 0 0 0;
}